

{% extends 'base.html' %}

{% block title %} About
{% endblock title %}

{% block body %}

      <div class="container-md">
      <p class="m-heading text-center my-4">  </p>
      <div class="row">
        <div class="col-md-6">

          <img src="static/about.jpg" class="contact_img" alt="About Image" width="500px" height="500px"/>
        </div>

        <div class="col-md-6">
        <h2 class="about_heading text-center my-3">Coffee House</h2>
        <p class="about_description"><span class="about_description_sp">Hi!</span> Our mission is to introduce a new wave of coffee. A movement in which every step in the coffee-making process is as important as any other. Where each step is optimized through the lenses of both science and art, and social responsibility is considered with just as much significance.
We are Coffee House.
 </p>
 <h5>01 WATER & COFFEE</h5>
<P>We redefine our waters to its original taste and cultivate our coffees to be pure. Nature has all the answers and it overcomes all.</P>

<h5>02 YOUR LIFESTYLE</h5>
<p>Our products bloom into life in your hands. We suggest a room for breathing and satisfaction for a healthier life. Our water and coffee refreshes and nourishes you.</p>

<h5>03 YOUR COMMUNITY</h5>
<p>At Reborn, we want to share good values and create excitement within communities. Our goal is to introduce a new wave of coffee culture so we can restore and spread the good coffee vibe in the communities.</p>

<h5>04 LOCAL TO GLOBAL</h5>
<p>From humble hearts of service within our local communities, we reach out to global boundaries. We learn from difference and work together to create true goodness.</P>

          </div>




{% endblock body %}









