{% extends 'base.html' %}

{% block title %} Pricing
{% endblock title %}

{% block body %}



  <div class="container-md my-5">
    <table class="table table-dark table-striped">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Coffee Image</th>
      <th scope="col">Coffee Name</th>
      <th scope="col">Price</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><img src="static/p-1.jpeg" height="70px" width="75px"></td>
      <td>Black Coffee</td>
      <td>20 </td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td><img src="static/p-2.jpg" height="70px" width="75px"></td>
      <td>Americano Coffee</td>
      <td>25</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td ><img src="static/p-3.jpeg" height="70px" width="75px"></td>
      <td>Flat White Coffee</td>
      <td >45</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td ><img src="static/p-4.jpeg" height="70px" width="75px"></td>
      <td>Cappuccino Coffee</td>
      <td >50</td>
    </tr>

    <tr>
      <th scope="row">5</th>
      <td ><img src="static/p-5.jpg" height="70px" width="75px"></td>
      <td>Espresso Coffee</td>
      <td >55</td>
    </tr>


  </tbody>

</table>
</div>


{% endblock body %}

